<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>

<!--
${members}
    Model 안의 member 값을 가져옵니다.
    Java의 foreach 문법과 비슷합니다.
${member.id}
    Member 클래스의 getName()을 통해 name 값을 가져옵니다.
 -->